.svg_arrow {
  filter: drop-shadow(0px 0px 3px black);
  position: absolute;
  z-index: 999;
  right: 5%;
  top: 5%;
  transform: translate(-50%, -50%);
  transition: fill 0.2s ease-in-out;
}
.svg_arrow:hover {
  fill: rgb(161, 80, 255);
}

.poster {
  width: 100%;
  object-fit: contain;
  border-radius: 0.6em;
}
.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

.card {
  position: relative;
  width: 80%;
  margin: 1em auto;
}
.sub {
  position: absolute;
  z-index: 2;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
}
.blackFilter {
  position: absolute;
  top: 0;
  z-index: 1;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.5),
    rgb(0, 0, 0)
  );
  width: 100%;
  height: 100%;
  border-radius: 0.6em;
}

.title {
  margin-top: 0.5em;
  font-size: 1.2rem;
}
.date {
  margin-top: 0.5em;
  font-size: 0.9rem;
}

.parent_card {
  position: relative;
  width: 70%;
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius: 0.6em;
}
.bg_image {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.3;
  border-radius: inherit;
}
.bg_image_img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
.exit {
  filter: drop-shadow(0px 0px 2px rgb(0, 0, 0));
  position: absolute;
  z-index: 999;
  right: 5%;
  top: 5%;
  transform: translate(-50%, -50%);
}
.exit_svg {
  transition: fill 0.2s ease-in-out;
}
.exit_svg:hover {
  fill: rgb(161, 80, 255);
}

.card_poster {
  width: 100%;
  border-top-left-radius: 0.6em;
  border-top-right-radius: 0.6em;
  display: block;
  margin: 0 auto;
}
.card_info {
  width: 90%;
  padding: 1em 0;
  margin: 0 auto;
}
.card_title,
.card_year {
  padding-bottom: 0.5em;
}
.card_overview {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 1.5em;
}
@media (min-width: 600px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
  .svg_arrow {
    width: 1.5rem;
  }
  .title {
    margin-top: 0.8em;
    font-size: 1.4rem;
  }
  .date {
    margin-top: 0.8em;
    font-size: 1rem;
  }

  .parent_card {
    display: flex;
    width: 85%;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
  }
  .exit {
    right: 2%;
    top: 10%;
  }
  .card_image {
    width: 35%;
  }
  .card_poster {
    height: 100%;
    object-fit: cover;
    margin: unset;
    border-top-left-radius: 0.6em;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0.6em;
  }
  .card_content {
    width: 60%;
  }

  .card_info {
    width: 80%;
    margin-top: 2em;
    font-size: 1.1rem;
  }
  .card_title,
  .card_year {
    padding-bottom: 0.8em;
  }
  .card_overview {
    width: 90%;
    margin-right: 0;
    padding-bottom: 1.5em;
  }
}

@media (min-width: 900px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .svg_arrow {
    width: 2rem;
  }

  .title {
    margin-top: 1em;
    font-size: 2rem;
  }
  .date {
    margin-top: 1em;
    font-size: 1.2rem;
  }

  .parent_card {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  .exit {
    right: 4%;
  }
  .exit img {
    width: 1.5rem;
  }

  .card_info {
    margin-top: 0.5em;
    font-size: 2rem;
  }
  .card_title,
  .card_year {
    padding-bottom: 0.5em;
  }
  .card_year {
    font-size: 1.8rem;
  }
  .card_overview {
    font-size: 1.5rem;
  }
}
